<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.helloanimation"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.helloanimation.demo.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.helloanimation.basic.BasicAnimationActivity" >
        </activity>
        <activity android:name="com.example.helloanimation.basic.AnimationFromXmlActivity" >
        </activity>
        <activity android:name="com.example.helloanimation.practice.BouncingBalls" >
        </activity>
        <activity android:name="com.example.helloanimation.practice.CustomEvaluator" >
        </activity>
        <activity android:name="com.example.helloanimation.practice.MultiPropertyAnimation" >
        </activity>
        <activity android:name="com.example.helloanimation.layout.LayoutAnimations" >
        </activity>
        <activity android:name="com.example.helloanimation.layout.LayoutAnimationsByDefault" >
        </activity>
        <activity android:name="com.example.helloanimation.layout.LayoutAnimationsHideShow" >
        </activity>
        <activity android:name="com.example.helloanimation.threed.Transition3d" >
        </activity>
        <activity android:name="com.example.viewflipper.BookActivity" >
        </activity>
        <activity android:name="com.example.orrery.OrreryActivity" >
        </activity>
        <activity android:name="com.example.viewanimation.basic.BasicAnimationDemoActivity" >
        </activity>
        <activity android:name="com.example.viewanimation.basic.BasicXMLAnimationActivity" >
        </activity>
    </application>

</manifest>